body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message{
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    margin-top: -10px;
    margin-bottom: 50px;
}
.scoreboard{
    align-self: flex-start;
    border: 1px solid black;
}
.board{
    background-color: black;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 8px;
}
.box{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-family: Helvetica;
    cursor: pointer;
}
